@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans'),
    url('../fonts/PT Sans Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans Bold'),
    url('../fonts/PT Sans Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

ul, ol, p, body, h1, h2, h3, h4, h5, h6, figure {
    padding: 0;
    margin: 0;
}
ul, ol {
    padding-left: 30px;
}
ol {
    margin-top: 20px
}
ul {
    list-style: none;
}
html {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    line-height: 1.2;
    color: #FFFFFF;
    background-color: #eaeaea;
}
h1, h2, h3, h4, h5, h6 {
    color: #2d2e36;
    font-weight:  700;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.clearfix:after {
    content: '';
    clear: both;
    display: table;
}
.js-scroll-block > section {
    min-height: 1px !important;
}
.center-wrapper {
    width: 1220px;
    margin: 0 auto;
}
.hide-on-1220 {
    display: none !important;
}
.show-on-984 {
    display: none !important;
}
.show-on-984.ib {
    display: none !important;
}
.show-on-728.ib {
    display: none !important;
}
.show-on-320 {
    display: none !important;
}
.show-on-320.ib {
    display: none !important;
}
.show-on-max {
    display: block !important;
}
.show-on-max.ib {
    display: inline-block !important;
}
.image {
    line-height: 0;
}
.image img {
    width: 100%;
}

header {
    height: 70px;
    margin-bottom: 20px;
    background: #244f8f; /* Old browsers */
    background: -moz-linear-gradient(left,  #244f8f 50%, #2d2e36 50%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #244f8f 50%,#2d2e36 50%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #244f8f 50%,#2d2e36 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#244f8f', endColorstr='#2d2e36',GradientType=1 ); /* IE6-9 */
}
header .logotype {
    float: left;
    padding: 0 40px 0 0;
    background-color: #244f8f;
    font-size: 14px;
    line-height: 70px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}
header .logotype a {
    transition-duration: 150ms;
}
header .logotype a:hover {
    color: #da4242;
}
header nav {
    float: left;
    background-color: #2d2e36;
    line-height: 0;
}
header nav .menu {
    display: inline-block;
    padding: 0 0 0 40px;
}
header nav .menu .category-name {
    float: left;
    padding: 0 12px 0 0;
    font-size: 14px;
    line-height: 70px;
    font-weight: 700;
    text-transform: uppercase;
}
header nav .menu .category-name a {
    transition-duration: 150ms;
}
header nav .menu .category-name.active a,
header nav .menu .category-name a:hover {
    color: #da4242;
}
header nav .menu .category-name:after {
    content: "\2044";
    padding: 0 0 0 12px;
    color: #555555;
}
header nav .menu .category-name:last-child:after {
    display: none;
}
header .search-widget {
    position: relative;
    float: right;
}
header .search-widget .search {
    float: right;
    box-sizing: border-box;
    display: inline-block;
    border: none;
    height: 36px;
    padding: 10px 15px;
    margin: 17px 0;
    background: transparent url("../img/search-icon.png") no-repeat 7px 50%;
    color: #2d2e36;
    font-size: 0;
    line-height: 20px;
    cursor: pointer;
    transition-duration: 150ms;
}
header .search-widget .search:focus {
    outline: 1px solid #244f8f;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 300px;
    padding: 10px 10px 10px 30px;
    background-color: #ffffff;
    font-size: 16px;
}
header .search-widget .search-close {
    display: none;
    position: absolute;
    top: 27px;
    right: 10px;
    width: 16px;
    height: 16px;
    background: transparent url("../img/close-icon.png") no-repeat 50% 50%;
}
#mobile-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 100%;
    padding: 10px 0;
    background-color: #da4242;
    z-index: 2;
}
#mobile-menu .category-name {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}
#mobile-menu .category-name a {
    display: block;
    padding: 11px;
    transition-duration: 150ms;
}
#mobile-menu .category-name.active a,
#mobile-menu .category-name a:hover {
    color: #2d2e36;
}
#mobile-menu-toggle {
    float: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 36px;
    padding: 10px 15px;
    margin: 17px 0 17px 20px;
    background: transparent url("../img/menu-icon.png") no-repeat 50% 50%;
    cursor: pointer;
}
#mobile-menu-toggle.opened {
    background: transparent url("../img/menu-close-icon.png") no-repeat 50% 50%;
}
main .category-title {
    margin: -5px 0 15px;
    color: #2d2e36;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
}
main section .column {
    float: left;
    margin-right: 20px;
}
main section article {
    float: left;
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.26);
}
main section article .image {
    position: relative;
}
main section article .column.wide > .image {
    height: 385px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: hidden;
}
main section article .column.wide > .image img {
    position: absolute;
    top: -25px;
    left: 0;
    width: 600px;
}
main section article .image .title {
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 100px 10px 20px 20px;
    background: -moz-linear-gradient(top,  rgba(30,87,153,0) 0%, rgba(45,46,54,1) 75%, rgba(45,46,54,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(45,46,54,1) 75%,rgba(45,46,54,1) 100%);
    background: linear-gradient(to bottom,  rgba(30,87,153,0) 0%,rgba(45,46,54,1) 75%,rgba(45,46,54,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#2d2e36',GradientType=0 );
    font-size: 32px;
    line-height: 1.2;
    font-weight: 700;
}
main section article .article-content {
    padding: 20px 20px 0;
    color: #333333;
}
main section article .article-content .status-line {
    margin-bottom: 15px;
    font-size: 14px;
}
main section article .article-content .status-line > * {
    display: inline-block;
    margin-right: 20px;
}
main section article .article-content .status-line > :last-child {
    margin-right: 0;
}
main section article .article-content .status-line .views:before {
    content: '';
    display: inline-block;
    width: 17px;
    height: 11px;
    margin-right: 3px;
    background: transparent url("../img/views-icon.svg") no-repeat 50% 50%;
}
main section article .article-content .status-line .comments:before {
    content: '';
    display: inline-block;
    width: 17px;
    height: 11px;
    margin-right: 3px;
    background: transparent url("../img/comments-icon.svg") no-repeat 50% 50%;
}
main section article .article-content .more-news {
    padding: 10px 0;
    margin-bottom: 15px;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    color: #244f8f;

}
main section article .article-content .more-news .news-preview {
    display: block;
    height: 22px;
    margin-bottom: 7px;
}
main section article .article-content .more-news .news-preview.last-child,
main section article .article-content .more-news .news-preview:last-child {
    margin-bottom: 0;
}
main section article .article-content .more-news .news-preview .title {
    display: block;
    overflow: hidden;
    font-size: 16px;
    line-height: 22px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
main section article .article-content .more-news .news-preview .title:before {
    content: '\2756';
    margin-right: 5px;
}
main section article .article-content .more-news .news-preview:hover .title {
    color: #da4242;
}
main section article .article-content .text {
    font-size: 17px;
    line-height: 28px;
}
main section article .article-content .text p {
    margin-bottom: 10px;
}
main section article .article-content .text .image {
    margin: 15px 0;
}
main section article .article-content .social-buttons {
    display: inline-block;
    margin-top: 5px;
}
main section article .article-content .social-buttons:after {
    content: '';
    position: relative;
    display: inline-block;
    width: 400px;
    height: 2px;
    margin-left: 15px;
    background-color: #eaeaea;
}
main section article .article-content .social-buttons .ya-share2 {
    display: inline-block;
}
main section article .column .lines {
    margin-bottom: 0;
    box-shadow: none;
}
main section .column .lines .lines-title {
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
}
main .column .lines.read-also .lines-title {
    padding-bottom: 10px;
}
main section .lines.popular .lines-title {
    padding-bottom: 15px;
    border-bottom: 1px solid #eaeaea;
}
main section aside {
    float: left;
}
main section .column.wide {
    width: 600px;
}
main section .column.standard {
    width: 290px;
}
main section .column.wide:last-child,
main section .column.standard:last-child,
main section .column:last-child {
    margin-right: 0;
}
main .big-preview {
    position: relative;
    display: block;
    margin-bottom: 20px;
    border-radius: 6px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.26);
}
main .big-preview.short-news {
    height: 520px;
}
main .big-preview .image {
    position: relative;
    height: 385px;
    border-radius: 6px;
    overflow: hidden;
}
main .big-preview .image img {
    position: absolute;
    top: -25px;
    left: 0;
    width: 600px;
}
main .big-preview.short-news .image {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
main .big-preview .title {
    position: absolute;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 0 100px 30px;
    border-radius: 6px;
    background: -moz-linear-gradient(top,  rgba(30,87,153,0) 0%, rgba(45,46,54,1) 75%, rgba(45,46,54,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(45,46,54,1) 75%,rgba(45,46,54,1) 100%);
    background: linear-gradient(to bottom,  rgba(30,87,153,0) 0%,rgba(45,46,54,1) 75%,rgba(45,46,54,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#2d2e36',GradientType=0 );
    font-size: 32px;
    font-weight: 700;
    transition-duration: 150ms;
}
main .big-preview:hover .title {
    background: -moz-linear-gradient(top,  rgba(30,87,153,0) 0%, rgba(45,46,54,1) 25%, rgba(45,46,54,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(45,46,54,1) 25%,rgba(45,46,54,1) 100%);
    background: linear-gradient(to bottom,  rgba(30,87,153,0) 0%,rgba(45,46,54,1) 25%,rgba(45,46,54,1) 100%);
}
main .big-preview.short-news:hover .title {
    text-decoration: underline;
}
main .big-preview .title .headline {
    display: block;
    font-size: 30px;
}
main .big-preview .title .description {
    font-weight: 400;
    font-size: 26px;
}
main .big-preview.short-news .title {
    padding: 20px 0 120px 30px;
    background: -moz-linear-gradient(top,  rgba(30,87,153,0) 0%, rgba(45,46,54,1) 40%, rgba(45,46,54,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(45,46,54,1) 40%,rgba(45,46,54,1) 100%);
    background: linear-gradient(to bottom,  rgba(30,87,153,0) 0%,rgba(45,46,54,1) 40%,rgba(45,46,54,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#2d2e36',GradientType=0 );
    font-size: 36px;
}
main .big-preview.short-news .introduction {
    position: absolute;
    bottom: 110px;
    left: 0;
    max-height: 92px;
    overflow: hidden;
    padding: 0 15px 0 30px;
    font-size: 19px;
}
main .big-preview .read-more {
    position: absolute;
    left: 30px;
    bottom: 30px;
    box-sizing: border-box;
    display: inline-block;
    height: 49px;
    padding: 16px 25px;
    background-color: #da4242;
    border-radius: 6px;
    font-size: 17px;
    line-height: 17px;
    cursor: pointer;
    transition-duration: 150ms;
}
main .big-preview .read-more:hover {
    background-color: #35ae35;
}
main .big-preview .status-line {
    position: absolute;
    right: 30px;
    bottom: 47px;
    font-size: 14px;
}
main .big-preview.short-news .source {
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-size: 14px;
    font-style: italic;
}
main .big-preview.short-news .source .label {
    color: #999999;
}
main .big-preview.short-news .status-line {
    bottom: 64px;
}
main .big-preview .status-line > * {
    display: inline-block;
    margin-right: 20px;
}
main .big-preview .status-line > :last-child {
    margin-right: 0;
}
main .big-preview .status-line .views:before {
    content: '';
    display: inline-block;
    width: 17px;
    height: 11px;
    margin-right: 3px;
    background: transparent url("../img/views-icon.svg") no-repeat 50% 50%;
}
main .big-preview .status-line .comments:before {
    content: '';
    display: inline-block;
    width: 17px;
    height: 11px;
    margin-right: 3px;
    background: transparent url("../img/comments-icon.svg") no-repeat 50% 50%;
}
main .mid-preview {
    display: block;
    position: relative;
    height: 250px;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 6px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.26);
    transition-duration: 150ms;
}
main .mid-preview:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.26);
}
main .mid-preview .image {
    border-radius: 6px;
    overflow: hidden;
}
main .mid-preview .title {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 250px;
    padding: 130px 0 0 20px;
    border-radius: 6px;
    font-weight: 700;
    transition-duration: 150ms;
}
main .mid-preview:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 330px;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 23%, rgba(45,46,54,1) 65%, rgba(45,46,54,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 23%,rgba(45,46,54,1) 65%,rgba(45,46,54,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 23%,rgba(45,46,54,1) 65%,rgba(45,46,54,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#2d2e36',GradientType=0 );
    transition-duration: 150ms;
}
main .mid-preview:hover:before {
    transform: translateY(-80px);
}
main .mid-preview .title .headline {
    display: block;
    font-size: 18px;
}
main .mid-preview .title .description {
    font-weight: 400;
    font-size: 16px;
}
main .small-preview {
    width: 100%;
    display: block;
    position: relative;
    top: 0;
    right: 0;
    height: 115px;
    margin-bottom: 20px;
    border-radius: 6px;
    background-color: rgba(255,255,255,1);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.26);
    transition-duration: 150ms;
}
main .small-preview:hover {
    right: 140px;
    width: 430px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.26);
}
main .small-preview .image {
    position: absolute;
    top: 0;
    right: 0;
    width: 154px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
}
main .small-preview .title {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 290px;
    height: 115px;
    padding:10px 20px 10px 20px;
    border-radius: 6px;
    background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
    color: #244f8f;
    font-size: 18px;
    font-weight: 700;
    transition-duration: 150ms;
}
main .small-preview:hover .title {
    color: #da4242;
}
main .small-preview .title .headline {
    display: block;
    font-size: 17px;
}
main .small-preview .title .description {
    font-size: 16px;
    font-weight: 400;
}
main .wide-preview {
    position: relative;
    display: block;
    margin-bottom: 20px;
    border-radius: 6px;
    background-color: #2d2e36;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.26);
    transition-duration: 150ms;
}
main .wide-preview:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.26);
}
main .wide-preview .image {
    width: 289px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    overflow: hidden;
}
main .wide-preview .text {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 217px;
    padding: 25px 20px 20px 335px;
    background: -moz-linear-gradient(left,  rgba(45,46,54,0) 17%, rgba(45,46,54,1) 48%, rgba(45,46,54,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(45,46,54,0) 17%,rgba(45,46,54,1) 48%,rgba(45,46,54,1) 100%);
    background: linear-gradient(to right,  rgba(45,46,54,0) 17%,rgba(45,46,54,1) 48%,rgba(45,46,54,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002d2e36', endColorstr='#2d2e36',GradientType=1 );
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
main .wide-preview.altered .text {
    color: #244f8f;
    background: -moz-linear-gradient(left,  rgba(45,46,54,0) 17%,rgb(236, 236, 236) 48%,rgb(255, 255, 255) 100%);
    background: -webkit-linear-gradient(left,  rgba(45,46,54,0) 17%,rgb(236, 236, 236) 48%,rgb(255, 255, 255) 100%);
    background: linear-gradient(to right, rgba(45,46,54,0) 17%,rgb(236, 236, 236) 48%,rgb(255, 255, 255) 100%);
}
main .wide-preview .text .category-label {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    margin-bottom: 15px;
    border-radius: 4px;
    background-color: #da4242;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
}
main .wide-preview.altered .text .category-label {
    color: #FFFFFF;
    background-color: #244f8f;
}
main .wide-preview.altered:hover .text .category-label {
    background-color: #555555;
}
main .wide-preview .text .title {
    font-weight: 700;
    transition-duration: 150ms;
}
main .wide-preview:hover .text .title {
    color: #da4242;
}
main .wide-preview.altered:hover .text {
    background: -moz-linear-gradient(left,  rgba(227, 208, 198, 0) 17%,rgb(227, 208, 198) 48%,rgb(227, 208, 198) 100%);
    background: -webkit-linear-gradient(left,  rgba(227, 208, 198, 0) 17%,rgb(227, 208, 198) 48%,rgb(227, 208, 198) 100%);
    background: linear-gradient(to right, rgba(227, 208, 198, 0) 17%,rgb(227, 208, 198) 48%,rgb(227, 208, 198) 100%);
}
main .wide-preview.altered:hover .text .title {
    color: #333333 ;
}
main .wide-preview .text .title .headline {
    display: block;
}
main .wide-preview .text .title .description {
    font-size: 16px;
    font-weight: 400;
}
main .new-wide-preview {
    position: relative;
    display: block;
    height: 163px;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 6px;
    background-color: #2d2e36;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.26);
    transition-duration: 150ms;
}
main .new-wide-preview .image {
    width: 290px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    overflow: hidden;
}
main .new-wide-preview .text {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 163px;
    padding: 20px 20px 20px 330px;
    background: -moz-linear-gradient(left, rgba(45,46,54,0) 17%, rgba(45,46,54,1) 48%, rgba(45,46,54,1) 100%);
    background: -webkit-linear-gradient(left, rgba(45,46,54,0) 17%,rgba(45,46,54,1) 48%,rgba(45,46,54,1) 100%);
    background: linear-gradient(to right, rgba(45,46,54,0) 17%,rgba(45,46,54,1) 48%,rgba(45,46,54,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002d2e36', endColorstr='#2d2e36',GradientType=1 );
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
main .new-wide-preview.altered .text {
    color: #244f8f;
    background: -moz-linear-gradient(left, rgba(45,46,54,0) 17%,rgb(236, 236, 236) 48%,rgb(255, 255, 255) 100%);
    background: -webkit-linear-gradient(left, rgba(45,46,54,0) 17%,rgb(236, 236, 236) 48%,rgb(255, 255, 255) 100%);
    background: linear-gradient(to right, rgba(45,46,54,0) 17%,rgb(236, 236, 236) 48%,rgb(255, 255, 255) 100%);
}
main .new-wide-preview .text .title {
    font-weight: 700;
    transition-duration: 150ms;
}
main .wide-preview .text .title .description {
    font-size: 16px;
}
main .new-wide-preview .text .title .headline {
    display: block;
}
main .new-wide-preview .text .title .description {
    font-size: 16px;
}
main .new-wide-preview:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.26);
}
main .new-wide-preview:hover .text .title {
    color: #da4242;
}
main .new-wide-preview.altered:hover .text {
    color: #244f8f;
    background: -moz-linear-gradient(left, rgba(227, 208, 198,0) 17%,rgb(227, 208, 198) 48%,rgb(227, 208, 198) 100%);
    background: -webkit-linear-gradient(left, rgba(227, 208, 198,0) 17%,rgb(227, 208, 198) 48%,rgb(227, 208, 198) 100%);
    background: linear-gradient(to right, rgba(227, 208, 198,0) 17%,rgb(227, 208, 198) 48%,rgb(227, 208, 198) 100%);
}
main .new-wide-preview.altered:hover .text .title {
    color: #333333;
}
main .column .lines {
    padding: 20px 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.26);
}
main .column .lines .line {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
main .column .lines .line {
    padding: 15px 0;
    height: 99px;
    border-bottom: 1px solid #eaeaea;
}
main .column .lines .line.first,
main .column .lines .line:first-child {
    height: 89px;
    padding-top: 0;
}
main .column .lines .line:last-child {
    padding-bottom: 0;
    height: 88px;
    border-bottom: none;
}
main article .column .lines.read-also .line {
    height: auto;
}
main .micro-preview:after {
    content: '';
    display: table;
    clear: both;
}
main .micro-preview {
    float: left;
    display: block;
    width: 270px;
    margin-right: 20px;
}
main .micro-preview:last-child {
    margin-right: 0;
}
main .micro-preview > * {
    float: left;
}
main .micro-preview .image {
    width: 70px;
    margin-right: 15px;
    font-size: 0;
}
main .micro-preview .text {
    width: 180px;
    max-height: 68px;
    overflow: hidden;
    margin-top: -3px;
    color: #244f8f;
    font-size: 14px;
    transition-duration: 150ms;
}
main .micro-preview:hover .text {
    color: #da4242;
}
main .micro-preview .text .headline {
    font-size: 12px;
    font-weight: 700;
}
main .micro-preview .text .description {
    font-size: 12px;
}
main .new-micro-preview {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 174px;
    min-height: 262px;
    margin-right: 19px;
    transition-duration: 150ms;
}
main .new-micro-preview:last-child {
    margin-right: 0;
}
main .new-micro-preview:hover {
    background-color: #e3d0c6;
}
main .new-micro-preview .title {
    padding: 7px 5px 10px 10px;
    color: #244f8f;
    font-size: 16px;
    font-weight: 700;
}
main .new-micro-preview:hover .title {
    color: #333333;
}
main .new-micro-preview .title .headline {
    font-size: 16px;
    display: block;
}
main .new-micro-preview .title .description {
    font-size: 14px;
    font-weight: 400;
}
footer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #2d2e36;
    padding: 65px 0 60px;
}
footer .column {
    float: left;
    width: 50%;
}
footer .logotype {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition-duration: 150ms;
}
footer .logotype:hover {
    color: #da4242;
}
footer .socials {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
}
footer .socials .net {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 8px;
    border-radius: 50%;
    background-color: #da4242;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition-duration: 150ms;
}
footer .socials .net:last-child {
    margin-right: 0;
}
footer .socials .net.tw {
    background-image: url('../img/tw-icon.png');
}
footer .socials .net.tw:hover {
    background-color: #1da1f2;
}
footer .socials .net.fb {
    background-image: url('../img/fb-icon.png');
}
footer .socials .net.fb:hover {
    background-color: #4267b2;
}
footer .socials .net.gp {
    background-image: url('../img/gp-icon.png');
}
footer .socials .net.gp:hover {
    background-color: #4285f4;
}
footer .copyright {
    margin-top: 25px;
    color: #6c7076;
    font-size: 15px;
}
footer .links {
    float: right;
}
footer .links a {
    display: inline-block;
    color: #eaeaea;
    font-size: 17px;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition-duration: 150ms;
}
footer .links a:first-child {
    margin-right: 45px;
}
footer .links a:last-child {
    margin-right: 5px;
}
footer .links a:hover {
    color: #da4242;
}
.paginator-cover {
    position: relative;
    margin-bottom: 20px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.26);
}
article .paginator-cover {
    margin-bottom: 10px;
    box-shadow: none;
}
.paginator-cover .paginator {
    position: relative;
    z-index: 2;
    height: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 6px;
    background-color: #FFFFFF;
    text-align: center;
}
article .paginator-cover .paginator {
    padding-top: 0;
    padding-bottom: 0;
}
.paginator-cover .paginator > * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 44px;
}
.paginator-cover .paginator .next,
.paginator-cover .paginator .previous {
    padding-top: 12px;
    height: 50px;
    border: 3px solid #FFFFFF;
    color: #244f8f;
    font-size: 18px;
    font-weight: 700;
    transition-duration: 150ms;
}
.paginator-cover .paginator .next:hover,
.paginator-cover .paginator .previous:hover {
    background-color: #6c7076;
    color: #FFFFFF;
    border-color: #FFFFFF;
}
.paginator-cover .paginator .previous {
    float: left;
    padding-left: 22px;
    padding-right: 17px;
}
.paginator-cover .paginator .next {
    float: right;
    padding-left: 17px;
    padding-right: 22px;
}
.paginator-cover .paginator .close-pages {
    padding-left: 0;
    display: inline-block;
    font-size: 0;
}
.paginator-cover .paginator .close-pages li {
    height: 100%;
    display: inline-block;
    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    color: #244f8f;
    font-size: 20px;
    font-weight: 700;
}
.paginator-cover .paginator .close-pages li.current {
    border-bottom: 0;
    color: #333333;
    cursor: default;
    position: relative;
}
.paginator-cover .paginator .close-pages li.current:after {
    background-color: rgba(0,0,0,0);
    border-radius: 50px;
    content: "";
    display: block;
    height: 32px;
    margin: -37px auto;
    position: relative;
    z-index: 1;
    text-align: center;
    width: 32px;
}
.paginator-cover .paginator .close-pages li.current a:hover {
    background-color: inherit;
    color: inherit;
}
.paginator-cover .paginator .close-pages li.dots {
    padding-left: 3px;
    padding-right: 3px;
    color: #333333;
    cursor: default;
    border-bottom: none;
}
.paginator-cover .paginator .close-pages li a {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 10px;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    transition-duration: 150ms;
}
.paginator-cover .paginator .close-pages li a:hover {
    background-color: #6c7076;
    color: #FFFFFF;
}
.paginator-cover .line-decor.paginator-decor {
    z-index: 1;
    top: 25px;
}
#main main .content section:nth-child(1) {
    min-height: 237px;
}
#main main .content section:nth-child(2) {
    min-height: 270px;
}
#main main .content section:nth-child(3) {
    min-height: 237px;
}
#main main .content section:nth-child(4) {
    min-height: 270px;
}
#short main .content section:nth-child(1) {
    min-height: 540px;
}
#short main .content section:nth-child(2) {
    min-height: 270px;
}
#short main .content section:nth-child(3) {
    min-height: 237px;
}
#short main .content section:nth-child(4) {
    min-height: 0;
}
#category main .content section:nth-child(2) {
    min-height: 405px;
}
#category main .content section:nth-child(3) {
    min-height: 270px;
}
#category main .content section:nth-child(4) {
    min-height: 237px;
}
#category main .content section:nth-child(5) {
    min-height: 270px;
}
#full main .content aside section:nth-child(1) {
    min-height: 270px;
}
#full main .content aside section:nth-child(2),
#full main .content aside section:nth-child(3),
#full main .content aside section:nth-child(4),
#full main .content aside section:nth-child(5) {
    min-height: 183px;
}

.custom-bl0ck-0b1 {
    padding-top: 10px;
    color: #244f8f;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-self: center;
    text-decoration: none !important;
}

.custom-bl0ck-0b1>.img-bl0ck-0b1 {
    width: 35%;
}

.custom-bl0ck-0b1>.img-bl0ck-0b1 img {
    max-width: 100%;
}

.custom-bl0ck-0b1>.text-bl0ck-0b1 {
    width: 65%;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.custom-bl0ck-0b1>.text-bl0ck-0b1>.title-bl0ck-0b1 {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.3;
    text-align: left
}

.custom-bl0ck-0b1>.text-bl0ck-0b1>.description-bl0ck-0b1 {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.3;
    text-align: left
}


/**------------------984----------------------**/
@media screen and (max-width: 1219px) {
    .center-wrapper {
        width: 984px;
    }
    .hide-on-984 {
        display: none !important;
    }
    .show-on-984 {
        display: block !important;
    }
    .show-on-984.ib {
        display: inline-block !important;
    }
    header .logotype {
        padding: 0 30px 0 0;
    }
    header nav .menu {
        padding: 0 0 0 30px;
    }
    header .search-widget .search {
        position: absolute;
        top: 0;
        right: 0;
    }
    main section article .column.wide > .image {
        height: 386px;
    }
    main section article .image .title {
        padding: 210px 10px 20px 20px;
    }
    main section article .article-content .social-buttons:after {
        width: 285px;
    }
    main section .column.wide {
        width: 482px;
    }
    main .big-preview {
        height: 385px;
    }
    main .big-preview .image {
        height: 386px;
    }
    main .big-preview .image img {
        left: -61px;
    }
    main .big-preview .title {
        font-size: 28px;
        background: -moz-linear-gradient(top,  rgba(30,87,153,0) 0%, rgba(45,46,54,1) 65%, rgba(45,46,54,1) 100%);
        background: -webkit-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(45,46,54,1) 65%,rgba(45,46,54,1) 100%);
        background: linear-gradient(to bottom,  rgba(30,87,153,0) 0%,rgba(45,46,54,1) 65%,rgba(45,46,54,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#2d2e36',GradientType=0 );
    }
    main .big-preview .title .description {
        font-size: 24px;
    }
    main .big-preview.short-news .title {
        font-size: 34px;
    }
    main section .column.standard {
        width: 231px;
    }
    main .mid-preview .title {
        padding: 130px 0 0 15px;
        font-size: 18px;
    }
    main .mid-preview:before {
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 23%, rgba(45,46,54,1) 55%, rgba(45,46,54,1) 100%);
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 23%,rgba(45,46,54,1) 55%,rgba(45,46,54,1) 100%);
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 23%,rgba(45,46,54,1) 55%,rgba(45,46,54,1) 100%);
    }
    main .mid-preview .title .description {
        font-size: 15px;
    }
    main .small-preview:hover {
        right: 140px;
        width: 371px;
    }
    main .small-preview .title {
        width: 231px;
        font-size: 16px;
    }
    main .small-preview .title .description {
        font-size: 14px;
    }
    main .wide-preview .image {
        width: 231px;
    }
    main .wide-preview .text {
        height: 173px;
        padding: 18px 10px 18px 210px;
    }
    main .wide-preview .text .category-label {
        margin-bottom: 8px;
    }
    main .wide-preview .text .title {
        font-size: 18px;
    }
    main .wide-preview .text .title .description {
        font-size: 15px;
    }
    main .new-wide-preview {
        height: 141px;
    }
    main .new-wide-preview .image {
        position: relative;
        width: 251px;
        height: 141px;
    }
    main .new-wide-preview .image img {
        position: absolute;
        top: 0;
        left: -10px;
        width: 100%;
    }
    main .new-wide-preview .text {
        height: 141px;
        padding: 15px 20px 20px 265px;
    }
    main .new-wide-preview .text .title .description {
        font-size: 14px;
        font-weight: 400;
    }
    main .new-wide-preview .text .title {
        font-size: 18px;
    }
    main .micro-preview {
        width: auto;
    }
    main .micro-preview .text {
        width: 352px;
        max-height: 66px;
        overflow: hidden;
        margin-top: 0;
    }
    main .micro-preview .text .headline {
        font-size: 14px;
        display: block;
    }
    main .micro-preview .text .description {
        font-size: 14px;
    }
    main .new-micro-preview {
        width: 100%;
        margin-bottom: 15px;
        min-height: 1px;
    }
    main .new-micro-preview:last-child {
        margin-bottom: 0;
    }
    main .new-micro-preview .image {
        float: left;
        width: 35%;
        margin-bottom: 0;
    }
    main .new-micro-preview .title {
        float: left;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 65%;
        padding-left: 15px;
    }
    main .new-micro-preview .title .headline {
        font-size: 18px;
    }
    main .new-micro-preview .title .description {
        font-size: 16px;
    }
    main .column .lines .line {
        height: 77px;
        padding: 10px 0;
    }
    main .column .lines .line:first-child {
        height: 67px;
    }
    main .column .lines .line:last-child {
        height: 66px;
    }
    footer {
        padding: 60px 0;
    }
    #main main .content section:nth-child(1) {
        min-height: 193px;
    }
    #main main .content section:nth-child(2) {
        min-height: 270px;
    }
    #main main .content section:nth-child(3) {
        min-height: 193px;
    }
    #main main .content section:nth-child(4) {
        min-height: 270px;
    }
    #short main .content section:nth-child(1) {
        min-height: 540px;
    }
    #short main .content section:nth-child(2) {
        min-height: 270px;
    }
    #short main .content section:nth-child(3) {
        min-height: 193px;
    }
    #short main .content section:nth-child(4) {
        min-height: 0;
    }
    #category main .content section:nth-child(2) {
        min-height: 405px;
    }
    #category main .content section:nth-child(3) {
        min-height: 270px;
    }
    #category main .content section:nth-child(4) {
        min-height: 193px;
    }
    #category main .content section:nth-child(5) {
        min-height: 270px;
    }
    #full main .content aside section:nth-child(2),
    #full main .content aside section:nth-child(3),
    #full main .content aside section:nth-child(4),
    #full main .content aside section:nth-child(5) {
        min-height: 141px;
    }
    main section article .column.wide > .image img {
        left: -59px;
    }
}


/***------------------728----------------------***/
@media screen and (max-width: 1000px) {
    .center-wrapper {
        width: 728px;
    }
    .hide-on-728,
    .hide-on-728.ib {
        display: none !important;
    }
    .show-on-728 {
        display: block !important;
    }
    .show-on-728.ib {
        display: inline-block !important;
    }
    header,
    footer {
        min-width: 768px;
    }
    header {
        height: 50px;
        background: #2d2e36;
    }
    header .content {
        position: relative;
    }
    header .logotype {
        padding: 0 15px;
        line-height: 50px;
    }
    header .search-widget .search {
        margin: 7px 0;
    }
    #mobile-menu-toggle {
        margin: 7px 0 7px 20px;
    }
    main section .column.wide {
        width: 478px;
    }
    main section .column.standard {
        width: 229px;
    }
    main section article .article-content .social-buttons:after {
        width: 280px;
    }
    main .big-preview .title {
        font-size: 26px;
        padding: 20px 0 100px 20px;
    }
    main .big-preview .read-more {
        left: 20px;
        bottom: 20px;
    }
    main .big-preview .status-line {
        bottom: 37px;
        right: 20px;
    }
    main .big-preview .status-line > * {
        margin-right: 15px;
    }
    main .big-preview.short-news .status-line {
        bottom: 54px;
    }
    main .big-preview.short-news .source {
        right: 20px;
        bottom: 20px;
    }
    main section .column.wide + .column.standard {
        margin-right: 0;
    }
    main .small-preview:hover {
        right: 0;
        width: 229px;
    }
    main .small-preview .title {
        width: 229px;
    }
    main .small-preview .title .headline {
        font-size: 14px;
    }
    main .small-preview .title .description {
        font-size: 13px;
    }
    main section aside .column.wide {
        width: 229px;
    }
    main .new-wide-preview {
        position: static;
        height: auto;
    }
    main .new-wide-preview .image {
        position: static;
        width: 100%;
        height: auto;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    main .new-wide-preview .image img {
        position: static;
    }
    main .new-wide-preview .text {
        position: static;
        height: auto;
        padding: 10px 10px 15px 15px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        background-image: none;
    }
    main .new-wide-preview.altered .text {
        background-color: #FFFFFF;
        background-image: none;
        transition-duration: 150ms;
    }
    main .new-wide-preview.altered:hover .text {
        background-image: none;
        background-color: rgb(227, 208, 198);
    }
    main .special.show-on-728 .small-preview {
        height: 173px;
    }
    main .special.show-on-728 .small-preview .image {
        border-radius: 6px;
    }
    main .special.show-on-728 .small-preview .image img {
        width: 100%;
        height: 173px;
    }
    main .special.show-on-728 .small-preview .title {
        height: 173px;
        font-size: 18px;
        padding: 18px 12px;
    }
    #main main .content section:nth-child(1) {
        min-height: 193px;
    }
    #main main .content section:nth-child(2) {
        min-height: 270px;
    }
    #main main .content section:nth-child(3) {
        min-height: 193px;
    }
    #main main .content section:nth-child(4) {
        min-height: 270px;
    }
    #short main .content section:nth-child(1) {
        min-height: 540px;
    }
    #short main .content section:nth-child(2) {
        min-height: 270px;
    }
    #short main .content section:nth-child(3) {
        min-height: 193px;
    }
    #short main .content section:nth-child(4) {
        min-height: 0;
    }
    #category main .content section:nth-child(2) {
        min-height: 405px;
    }
    #category main .content section:nth-child(3) {
        min-height: 270px;
    }
    #category main .content section:nth-child(4) {
        min-height: 193px;
    }
    #category main .content section:nth-child(5) {
        min-height: 270px;
    }
    #full main .content aside section:nth-child(2),
    #full main .content aside section:nth-child(3),
    #full main .content aside section:nth-child(4),
    #full main .content aside section:nth-child(5) {
        min-height: 218px;
    }
    main section article .column.wide > .image img {
        left: -61px;
    }
}


/***------------------<728----------------------***/
@media screen and (max-width: 727px) {
    .center-wrapper {
        width: 100%;
        max-width: 480px;
    }
    .hide-on-320,
    .hide-on-320.ib {
        display: none !important;
    }
    .show-on-320 {
        display: block !important;
    }
    .show-on-320.ib {
        display: inline-block !important;
    }
    header,
    footer {
        min-width: 100%;
    }
    header .search-widget .search:focus {
        width: 254px;
    }
    #mobile-menu-toggle {
        margin: 7px 10px 7px 20px;
    }
    main .content {
        padding: 0 5px;
    }
    main section .column {
        margin-right: 0;
    }
    main section .column.wide {
        width: 100%;
        margin-right: 0;
    }
    main section .column.standard {
        width: 100%;
    }
    main section article {
        float: none;
        margin-right: 0;
    }
    main section article .column.wide > .image {
        height: auto;
    }
    main section article .column.wide > .image img {
        position: static;
        width: 100%;
        display: none;
    }
    main section article .image .title {
        position: relative;
        padding: 20px 20px 0;
        background-image: none;
        color: #333333;
        font-size: 22px;
    }
    main section article .article-content .social-buttons {
        display: block;
        padding-bottom: 10px;
        border-bottom: 1px solid #eaeaea;
    }
    main section article .article-content .social-buttons:after {
        display: none;
    }
    main section article .article-content .more-news .inner-preview {
        display: block;
        margin-bottom: 10px;
        transition-duration: 150ms;
    }
    main section article .article-content .more-news .inner-preview:after {
        content: '';
        display: table;
        clear: both;
    }
    main section article .article-content .more-news .inner-preview:last-child {
        margin-bottom: 0;
    }
    main section article .article-content .more-news .inner-preview .image {
        float: left;
        width: 35%;
    }
    main section article .article-content .more-news .inner-preview .title {
        float: left;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 65%;
        padding: 0 3px 5px 10px;
        font-size: 16px;
        font-weight: 700;
    }
    main section article .article-content .more-news .inner-preview:hover {
        background-color: #e3d0c6;
    }
    main section article .article-content .more-news .inner-preview:hover .title {
        color: #333333;
    }
    main section article .article-content .more-news .inner-preview .title .headline {
        display: block;
    }
    main section article .article-content .more-news .inner-preview .title .description {
        display: block;
        font-size: 15px;
        font-weight: 400;
    }
    main .big-preview {
        height: auto;
        background-color: #2d2e36;
    }
    main .big-preview .image {
        height: auto;
    }
    main .big-preview .image img {
        position: static;
        width: 100%;
    }
    main .big-preview .title {
        font-size: 22px;
        padding: 20px 0 90px 15px;
    }
    main .big-preview .title .headline {
        font-size: 20px;
    }
    main .big-preview .title .description {
        font-size: 14px;
    }
    main .big-preview.short-news {
        height: 450px;
    }
    main .big-preview.short-news .title {
        padding: 20px 0 210px 15px;
    }
    main .big-preview .read-more {
        left: 15px;
        bottom: 15px;
        height: 39px;
        padding: 12px 18px;
        font-size: 15px;
        line-height: 15px;
    }
    main .big-preview.short-news .title {
        padding-bottom: 120px;
        font-size: 26px;
    }
    main .big-preview.short-news .introduction {
        bottom: 95px;
        max-height: 96px;
        padding: 0 15px;
        font-size: 16px;
    }
    main .big-preview.short-news .status-line {
        bottom: 64px;
        right: auto;
    }
    main .big-preview .status-line {
        bottom: 65px;
        left: 15px;
    }
    main .mid-preview {
        height: auto;
    }
    main .mid-preview .title {
        top: auto;
        bottom: 0;
        height: auto;
        padding: 125px 5px 30px 15px;
        font-size: 20px;
    }
    main .mid-preview:before {
        top: auto;
        bottom: 0;
        transform: translateY(80px);
    }
    main .mid-preview:hover:before {
        transform: translateY(0);
    }
    main .micro-preview .image {
        width: 30%;
        margin-right: 0;
    }
    main .micro-preview .text {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 70%;
        padding-left: 15px;
    }
    main .column .lines .line {
        height: auto;
    }
    main .column .lines .line:first-child,
    main .column .lines .line:last-child {
        height: auto;
    }
    main section aside {
        float: none;
    }
    main section aside .column.wide {
        width: 100%;
    }
    main .new-wide-preview .text .title {
        font-size: 20px;
    }
    main .new-wide-preview .text .title .description {
        font-size: 18px;
    }
    footer {
        padding: 30px 0 40px;
    }
    footer .column {
        float: none;
        width: 100%;
        text-align: center;
    }
    footer .logotype {
        display: block;
        margin-right: 0;
        margin-bottom: 25px;
    }
    footer .socials {
        display: block;
    }
    footer .copyright {
        margin-bottom: 35px;
    }
    footer .links {
        float: none;
    }
    #main main .content section:nth-child(1) {
        min-height: 0;
    }
    #main main .content section:nth-child(2) {
        min-height: 782px;
    }
    #main main .content section:nth-child(3) {
        min-height: 0;
    }
    #main main .content section:nth-child(4) {
        min-height: 521px;
    }
    #short main .content section:nth-child(1) {
        min-height: 800px;
    }
    #short main .content section:nth-child(2) {
        min-height: 521px;
    }
    #short main .content section:nth-child(3) {
        min-height: 0;
    }
    #short main .content section:nth-child(4) {
        min-height: 521px;
    }
    #category main .content section:nth-child(2) {
        min-height: 486px;
    }
    #category main .content section:nth-child(3) {
        min-height: 782px;
    }
    #category main .content section:nth-child(4) {
        min-height: 0;
    }
    #category main .content section:nth-child(5) {
        min-height: 521px;
    }
    #full main .content aside {
        min-height: 1px;
    }
    main .micro-preview {
        width: 100%;
    }
    #full main .content aside section:nth-child(1) {
        min-height: 0;
    }
    #full main .content aside section:nth-child(2) {
        min-height: 0;
    }
    #full main .content aside section:nth-child(3) {
        min-height: 0;
    }

}

@media screen and (max-width:460px) {
    img{
        max-width: 100%;
        height: auto !important;
    }
    iframe{
        max-width:100%}
}